{% extends "base.html" %} {% block content %}
<div class="h1">Reset Your Password</div>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.password.label }} <br />
    {{ form.password(class="form-control-sm",placeholder="new password") }}
    <br />
    {% for error in form.password.errors %}
    <span class="alert alert-danger p-0"> {{ error }} </span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }} <br />
    {{ form.password2(class="form-control-sm" , placeholder="retype password")
    }} <br />
    {% for error in form.password2.errors %}
    <span class="alert alert-danger p-0"> {{ error }} </span>
    {% endfor %}
  </p>
  <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}
