*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

#for my testing these python codes that i get introduced in the lectures
for_me_python_codes

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
microblog.log*
*.db

.vscode
vscode

app/static/css
app/static/js
app/static/favicon.ico