<div class="card mt-3" style="width: 1fr">
  <div class="card-header">
    <div class="row">
      <div class="col-1">
        <a href="{{ url_for('main.user',username=post.author.username) }}">
          <img
          src="{{ post.author.avatar(36) }}"
          alt="{{ post.author.username }}"
        />
        </a>

      </div>
      <div class="col-11">
        <b>
          <a
            href="{{ url_for('main.user',username=post.author.username) }}"
            style="text-decoration: none"
            >{{ post.author.username }}
          </a>
          Shouted:
        </b>
        <small class="text-muted" style="color: gold">
          ( {{ moment(post.timestamp).fromNow() }} )
        </small>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="post{{ post.id }}" class="card-text">
      {{ post.body }} {% if post.language and post.language != g.locale %}
      <br />
      <hr />
      <span id="translation{{ post.id }}">
        <a
          href="javascript:translate('#post{{ post.id }}','#translation{{ post.id }}','{{ post.language }}','{{ g.locale }}');"
        >Translate</a
        >
      </span>
      {% endif %}
    </div>
  </div>
</div>
