<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{ url_for('static',filename='favicon.ico') }}" rel="icon" />
{% if title %}
<title>{{title}}-YoYoBlog</title>
{% else %}
<title>Welcome To YoYoBlog</title>
{% endif %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<style>
{% if body %}
  body {
    background-color: {{body}};
  }{% endif %}
  .login_content {
    text-align: center;
    margin: 10% 20%;
    background-color: rgb(127, 255, 212);
  }
</style>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">YoYoBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }} ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('main.explore') }}">Explore</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% endif %}

      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  {% with messages=get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {% if message=="Invalid Username or Password" %}
  <div class="alert alert-danger p-0">{{message}}</div>
  {% elif message=="Please log in to access this page." %}
  <div class="alert alert-primary p-0">{{ message }}</div>
  {% else %}
  <div class="alert alert-success p-0">{{message}}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="container-md">
    {% block content %} {% endblock %}
  </div>
{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<script>
  function translate(sourceElem, destElem, sourceLang, destLang) {
      $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
      $.post('/translate', {
          text: $(sourceElem).text(),
          source_language: sourceLang,
          dest_language: destLang
      }).done(function(response) {
          $(destElem).text(response['text'])
      }).fail(function() {
          $(destElem).text("Error: Could not contact server.");
      });
  }
</script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</body>

</html>