<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{ url_for('static',filename='favicon.ico') }}" rel="icon" />
{% if title %}
<title>{{title}}-YoYoBlog</title>
{% else %}
<title>Welcome To YoYoBlog</title>
{% endif %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<style>
{% if body %}
  body {
    background-color: {{body}};
  }{% endif %}
  .login_content {
    text-align: center;
    margin: 10% 20%;
    background-color: rgb(127, 255, 212);
  }
</style>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">YoYoBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-success btn-sm" aria-current="page" href="{{ url_for('main.index') }} ">Home</a>
        </li>
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-info btn-sm" href="{{ url_for('main.explore') }}">Explore</a>
        </li>
        {% if current_user.is_anonymous %}
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-success btn-sm" href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% else %}
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-warning btn-sm" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
        </li>
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-light btn-sm" href="{{ url_for('main.notifications') }}">Notifications</a>
        </li>
        <li style="padding-right: 10px;" class="nav-item">
          <a class="btn btn-primary btn-sm" href="{{ url_for('main.messages') }}">Messages
            {% set new_messages = current_user.new_messages() %}
            <span id="message_count" class="badge" style="visibility: {% if new_messages %} visible {% else %} hidden {% endif %};">{{ new_messages }}</span>
          </a>
        </li>
        <li style="position:absolute; right: 26%;" class="nav-item">
          <a class="btn btn-danger btn-sm" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% endif %}

      </ul>
      {% if g.search_form %}
      <form class="d-flex" method="get" action="{{ url_for('main.search') }}">
        <!-- <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"> -->
        {{ g.search_form.q(class='form-control mr-2',placeholder='Search') }}
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
  {% with messages=get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {% if message=="Invalid Username or Password" %}
  <div class="alert alert-danger p-0">{{message}}</div>
  {% elif message=="Please log in to access this page." %}
  <div class="alert alert-primary p-0">{{ message }}</div>
  {% else %}
  <div class="alert alert-success p-0">{{message}}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="container-md">
    {% block content %} {% endblock %}
  </div>
{{ moment.include_jquery() }}
{{ moment.include_moment() }}


{% block scripts %} 
  <script>
    function set_message_count(n) {
      $('#message_count').text(n);
      $('#message_count').css('visibility', n ? 'visible' : 'hidden');
    }
    {% if current_user.is_authenticated %}
    $(function() {
      var since=0;
      setInterval(function(){
        $.ajax('{{ url_for('main.notifications') }}?since=' +since).done(
          function(notifications){
            for (var i=0; i < notifications.length; i++) {
              if (notifications[i].name == "unread_message_count")
                set_message_count(notifications[i].data);
              since = notifications[i].timestamp;
            }
          }
        );
      },10000);

    });
    {% endif %}
  </script>
{% endblock %}

<script>
  function translate(sourceElem, destElem, sourceLang, destLang) {
      $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
      $.post('/translate', {
          text: $(sourceElem).text(),
          source_language: sourceLang,
          dest_language: destLang
      }).done(function(response) {
          $(destElem).text(response['text'])
      }).fail(function() {
          $(destElem).text("Error: Could not contact server.");
      });
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  $(function ()
  {
    var timer=null;
    var xhr = null;
    $('.user_popup').hover(
      function(e){
        var elem=$(e.currentTarget);
        timer=setTimeout(function(){
          timer=null;
          xhr=$.ajax('/user/'+elem.first().text().trim()+'/popup').done(
            function(data){
              xhr=null;
              // console.log(data); //its getting the popover page, it can be printed in the console, so why its not displayed

              elem.popover(
                {
                  trigger : 'manual',
                  html : false,
                  animation : false,
                  // container : elem,
                  content : data
                }).popover('show');
                // flask_moment_render_all();
              });},1000);},
    function(e){
      var elem = $(e.currentTarget);
      if (timer){
        clearTimeout(timer);
        timer=null;
      }else if(xhr){
        xhr.abort();
        xhr=null;
      }else{
        elem.popover('destroy');
      }
    }
  );
});
</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</body>

</html>