{% extends "base.html" %} {% block content %}
<h1><u>Update Profile Info</u></h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }} <br />
    {{ form.username(class="form-control-sm")}} <br />
    {% for error in form.username.errors %}
    <span class="alert alert-danger p-0"> {{ error }} </span>
    {% endfor %}
  </p>
  <p>
    {{ form.about_me.label }} <br />
    {{ form.about_me(class="form-control-lg",rows=4,cols=50)}} <br />
    {% for error in form.about_me.errors %}
    <span class="alert alert-danger"> {{ error }} </span>
    {% endfor %}
  </p>
  <p>{{ form.submit(class="btn btn-primary btn-lg")}}</p>
</form>

{% endblock %}
