{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-3 p-3">
    <img src="{{ user.avatar(256) }}" alt="{{ user.username }}" />
  </div>
  <div class="col-9">
    <h1>User: {{user.username}}</h1>
    <br />
    {% if user.about_me %}
    <p>{{ user.about_me }}</p>
    {% endif %} {% if user.last_seen %}
    <p>
      <small class="text-muted"> Last Seen On : {{ user.last_seen }} </small>
    </p>
    {% endif %}
    <p class="text-muted">
      <b> {{ user.followers.count() }} </b> Followers, Following
      <b> {{ user.followed.count() }} </b>
    </p>

    {% if user==current_user %}
    <a class="btn btn-primary" href="{{ url_for('edit_profile') }}"
      >Edit Your Profile</a
    >
    {% elif not current_user.is_following(user) %}
    <p>
      <a
        class="btn btn-success"
        href="{{ url_for('follow',username=user.username) }}"
      >
        Follow</a
      >
    </p>
    {% else %}
    <p>
      <a
        class="btn btn-outline-danger"
        href="{{ url_for('unfollow',username=user.username) }}"
        >Unfollow</a
      >
    </p>
    {% endif %}
  </div>
</div>

<hr />
{% for post in posts %} {% include "_post.html" %}
<!-- jinja-2 sub-template
_dewa  jinish gula sub template bujay, mane eita ekta naming convention je _dewa.html die full template na sub-template bujay
sub-template er idea ta hocche eita sob khane use kora jay emon code snippet, jeita bar bar use korte hoy,so put them in a subtemplate and call the subtemplate whenever you need them, with include "_subtemplate_name" function -->
{% endfor %} {% endblock %}
